<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OTP Verification</title>
</head>
<body>
  <h1>Enter OTP</h1>
  <h2 id="otpUsername"></h2>
  <form id="otpForm">
    <input type="text" id="otp" name="otp" maxlength="6" required>
    <button type="submit">Verify OTP</button>
  </form>
  <p id="otpMsg"></p>

  <script>
    const apiBaseUrl = sessionStorage.getItem('apiBaseUrl');
    const username = sessionStorage.getItem('otpUsername');
    const {logger} = require('../logger.js');

    document.getElementById('otpUsername').innerText = `OTP already sent to ${username}`;

    document.getElementById('otpForm').addEventListener('submit', async function(event) {
      event.preventDefault(); 

      const otp = document.getElementById('otp').value;

      try {
        const response = await axios.post(`${apiBaseUrl}RegisterVerify`, { username, otp });

        const msg = document.getElementById(otpMsg);

        if (response.data.status === 'verified') {
          msg.textContent = 'Verify Successfully! Waiting for jumping back to login page...';
            setTimeout(() => {
                window.location.href = 'login.html';
            }, 5000);
        } else {
          msg.textContent = 'Wrong OTP';
        }
      } catch (error) {
        msg.textContent = 'Unexpected Error';
        logger.info(`Catch error when enter OTP: ${error}`);
      }
    });
  </script>
</body>
</html>
